version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/apps/web"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "05:00"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "web"
    assignees:
      - "SahilSahu731"
    commit-message:
      prefix: "web-deps"
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "npm"
    directory: "/apps/api"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "05:00"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "api"
    assignees:
      - "SahilSahu731"
    commit-message:
      prefix: "api-deps"
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
